body {
  background-image: url("../img/photo-1485217988980-11786ced9454.jpg");
  background-position-x: 100%;
  background-position-y: 30%;
  background-size: cover;
  background-color: #cccccc;
  background-repeat: no-repeat;
}
